---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="A propos de | Bejaoui Haitem" description="A propos de Bejaoui Haitem">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Merci de votre visite. Vous trouverez ci‑dessous davantage d’informations sur mon parcours et mon profil."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Haitem qui travail"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Animé par une curiosité constante, je me suis naturellement tourné vers l’informatique, un domaine en évolution permanente où l’apprentissage ne s’arrête jamais. L’essor du numérique a profondément transformé notre société, et c’est précisément cette dynamique qui me motive : la possibilité d’explorer, de comprendre et de maîtriser des technologies qui façonnent le monde moderne. Internet offre un accès illimité au savoir, et j’aime tirer parti de cette richesse pour développer mes compétences et élargir ma vision technique.
					</p>
					<p>
						Au fil de mon parcours, j’ai cultivé une manière de travailler calme, méthodique et orientée optimisation. J’aime comprendre en profondeur ce que je fais, améliorer ce qui peut l’être et avancer de manière autonome lorsque c’est nécessaire. Cette approche me permet d’aborder chaque projet avec rigueur et efficacité, tout en restant ouvert à la découverte de nouvelles méthodes et technologies. Ma curiosité est un moteur essentiel : elle me pousse à progresser et à rester à jour dans un secteur qui évolue rapidement.
					</p>
					<p>
						J’ai également acquis une première expérience pratique en freelance, notamment dans le montage de PC et le dépannage informatique. À cela s’ajoute un service civique réalisé chez L’Alternativ, où j’ai assuré des missions de médiation numérique auprès de personnes âgées. Cette expérience m’a permis de transmettre mes connaissances, de rendre le numérique plus accessible et de développer une vraie sensibilité à l’accompagnement humain. À moyen terme, je souhaite poursuivre mes études, soit en intégrant l’école 42, soit en entrant en alternance dans un master ou une école d’ingénieur, afin de renforcer mes compétences en systèmes, réseaux et cybersécurité.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplomes</h2>
				<div class="content">
					<p>- BTS SIO – Option SISR
Formation axée sur les systèmes, réseaux, cybersécurité et l’administration d’infrastructures.
- Certification Google – IT Support
Compétences en support informatique, diagnostic, maintenance, gestion des systèmes et bonnes pratiques IT.
- Baccalauréat STI2D
Formation technologique orientée innovation, technologies industrielles et compréhension des systèmes.
</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>- Administration systèmes & réseaux
- Gestion d’infrastructures et services IT
- Bases en cybersécurité
- Travail en équipe & communication
- Organisation, rigueur et résolution de problèmes
</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
